[submodule "app/external/grpc"]
	path = app/external/grpc
	url = https://github.com/grpc/grpc
[submodule "index/external/faiss"]
	path = index/external/faiss
	url = https://github.com/facebookresearch/faiss.git
[submodule "index/external/googletest"]
	path = index/external/googletest
	url = https://github.com/google/googletest.git
[submodule "index/external/jsoncpp"]
	path = index/external/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "app/external/etcd-cpp-apiv3"]
	path = app/external/etcd-cpp-apiv3
	url = https://github.com/etcd-cpp-apiv3/etcd-cpp-apiv3
[submodule "app/external/abseil-cpp"]
	path = app/external/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
[submodule "app/external/aws-cpp-sdk"]
	path = app/external/aws-cpp-sdk
	url = https://github.com/aws/aws-sdk-cpp.git
